$tt-hoves: 'TT Hoves', sans-serif;
$primary-color:#BDBDBD;
$primary-gray:#F2F2F2;
$secondary-color: #333333;
$secondary-transperent: rgba(51, 51, 51, 0.8);
$secondary-black: #2C2C2C;
$white: #FFFFFF;
$light-gray: #F9F9F9;
$light-gray-bg: #FBFBFB;
$inputs-gray: #8D8D8D;
$required-red: #C30000;
$check-gray: #F3F3F3;
