@import "_global.scss";
@import "_reset.scss";
@import "_vars.scss";


.main {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  &__inner {
    padding: 30px 0;
  }
}

.menu {
  &__list {
    gap: 60px;
  }

  &__list-item {
    position: relative;
  }

  &__list-link {
    color: $secondary-color;
    line-height: 12px;
    position: relative;
  }

  &__list-link::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $secondary-color;
    transition: width 0.2s ease;
  }

  &__list-link::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $secondary-color;
    transition: width 0.2s ease, right 0.2s ease;
  }

  &__list-link:hover::before,
  &__list-link:hover::after {
    width: 100%;
  }

  &__list-link.active::before,
  &__list-link.active::after {
    width: 100%;
  }
}

.footer {
  background-color: $secondary-black;
}

.footer__container {
  gap: 99px;
}
.logo-white {
  padding: 58px 0;
  display: flex;
}
