@import "_global.scss";
@import "_reset.scss";
@import "_vars.scss";
@import "_fonts.scss";

body {
  font-family: $tt-hoves;;
}
.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  padding: 30px 0;
}

.menu {
  padding: 40px 0;

  &__list {
    gap: 60px;
  }

  &__list-item {
    position: relative;
  }

  &__list-link {
    color: $secondary-color;
    line-height: 12px;
    position: relative;
  }

  &__list-link::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $secondary-color;
    transition: width 0.2s ease;
  }

  &__list-link::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $secondary-color;
    transition: width 0.2s ease, right 0.2s ease;
  }

  &__list-link:hover::before,
  &__list-link:hover::after {
    width: 100%;
  }

  &__list-link.active::before,
  &__list-link.active::after {
    width: 100%;
  }
}

.footer {
  background-color: $secondary-black;
  color: $white;
  position: relative;

 &__content{
  padding-bottom: 60px;
  }

  &__menu,
  &__info,
  &__social{
    gap: 25px;
  }

  &__container{
    gap: 99px;
    padding-top: 58px;
  }

  &__menu__title,
  &__info-title,
  &__social-title{
    font-size: 16px;
  }

  &__menu__list{
    gap: 16px;
  }

  &__menu__list-link{
    font-size: 14px;
    color: $white;
  }

  &__info{
    padding-left: 157px;
    max-width: 400px;
  }
  &__info-list{
    gap: 30px;
  }

  &__info-item{
    gap: 19px;
    font-size: 14px;
  }

  &__social{
    padding-left: 70px;
  }

  &__social-img{
    gap: 40px;
  }

  &__copyright{
    margin: 24px auto;
  }

  &__copyright::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    top: 83%;
    left: 0;
  }
}

.hero{
  &__info{
    gap: 90px;
    padding-bottom: 104px;
    min-height: 100%;
    justify-content: flex-end;
    width: 100%;
  }

  &__header{
    font-size: 64px;
    color: $primary-color;
  }

  &__header > p {
    color: $secondary-color;
  }

  &__btns{
    width: 100%;
  }

  &__btn-back,
  &__btn-forward{
    padding: 15px 13px;
    cursor: pointer;
    border: 1px solid $primary-gray;
  }

  &__btn-back{
    background-color: $white;
  }

  &__btn-forward{
    background-color: $light-gray;
    margin-left: 23px;
  }
  &__btn-line{
    width: 100%;
    height: 1px;
    display: block;
    background-color: $primary-gray;
  }

  &__subtitle{
    gap: 26px;
    font-size: 24px;
    color: $primary-color;
  }

  &__slider-img{
    position: relative;
    width: 770px;
  }

  &__slider-btn{
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 24px 50px;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  &__slider-btn > span {
    letter-spacing: 2.4px;
    font-size: 12px;
  }
}

.about{
  margin-top: 120px;
  padding-bottom: 150px;

  &__background{
    height: 435px;
    background-color: $light-gray-bg;
    width: 100%;
    z-index: -1;
    position: absolute;
  }

  &__company{
    display: grid;
    grid-template-columns: 0.65fr 0.7fr 1fr;
    grid-gap: 30px;
    padding: 30px 70px 0 100px;
  }

  &__company-images{
    gap: 30px;
  }

  &__company-header{
    font-size: 64px;
    color: $primary-color;
    font-weight: 200;
  }

  &__company-description{
    font-size: 16px;
    margin-top: 23px;
    line-height: 25px;
  }

  &__company-btn{
    margin-top: 17px;
    padding: 24px 64px;
    background-color: $white;
    gap: 17px;
    border: none;
    color: $secondary-color;
    cursor: pointer;
    line-height: 12px;
    letter-spacing: 1.2px;
  }
}

.second-column {
  padding-top: 30px;
}

.fix-position {
  position: relative;
}

.main__goals {
  &-headline {
    font-size: 64px;
    color: $primary-color;
    font-weight: 200;
  }

  &-list{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
    grid-column-gap: 187px;
  }

  &-item{
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &-number{
    font-size: 200px;
    color: $primary-gray;
    font-weight: 900;
  }

  &-text {
    font-size: 22px;
    line-height: 36px;
  }
}

.projects {
  margin-top: 128px;

  &__title{
    font-size: 64px;
    font-weight: 100;
    color: $primary-gray;
    line-height: 64px;
  }

  &__grid{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .project-item{
    height: 255px;
    position: relative;
    overflow: hidden;


    &__inner-wrapper{
      width: 100%;
      height: 100%;
      padding: 0 79px;
      padding-top: 48px;

      & > h3{
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: $white;
        max-width: 413px;
        margin-bottom: 8px;
      }
    }

    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      max-width: 100%;
      z-index: -1;
    }

    &:nth-child(1){ width: 570px; }
    &:nth-child(2){ width: 570px; }
    &:nth-child(3){ width: 270px; }
    &:nth-child(4){ width: 470px; }
    &:nth-child(5){ width: 370px; }

    &:nth-child(1)::before{ background-image: url(../img/project_1.png); }
    &:nth-child(2)::before{ background-image: url(../img/project_2.png); }
    &:nth-child(3)::before{ background-image: url(../img/project_3.png); }
    &:nth-child(4)::before{ background-image: url(../img/project_4.png); }
    &:nth-child(5)::before{ background-image: url(../img/project_5.png); }

    &:nth-child(1)::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $secondary-transperent;
    }
  }


}

.shadow {
  background-color: $secondary-transperent;
  width: 100%;
  height: 100%;
  position: absolute;
}

.details {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  gap: 12px;
}

.second-line{
  margin-top: 30px;
}

.all__projects-btn {
  margin-top: 30px;
  background-color: $secondary-color;
  cursor: pointer;
  gap: 12px;
  padding: 30px 39px;
  color: $white;
  border: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 12px;
  font-weight: 400;
}

.contact__us {
  margin-top: 120px;

  &-form{
    gap: 30px;
  }

  &-form-items{
    gap: 10px;
  }
}


